<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project Tracker</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>.content {padding-top: 80px;} a.brand {color: #FF8C00; }</style>
  </head>

  <body>

    {%- block topbar -%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h2>
              <a href="/" class="brand">Track It!</a> <small>a simple Programming Project Tracker </small>
          </h2>
        </div>
        <div class="navbar-collapse">
          <ul class="nav nav-pills navbar-nav navbar-right ">
          {% if current_user.is_authenticated %}
            <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Options
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('projects.new') }}">Create a New Project</a></li>
              <li><a href="{{ url_for('projects.home') }}">View All Projects</a></li>
              <li><a href="{{ url_for('users.profile') }}">My Profile</a></li>
              <li><a href="{{ url_for('users.logout') }}">Logout</a></li>              
            </ul>
            </li>
        
          {% else %}
            <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sign in/Register
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('auth.login') }}">Login</a></li>
              <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            </ul>
           </li>          
          {% endif %}
        </ul>
        </div>
      </div>
    </nav>

    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
      <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">          
      </script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      {% block js_footer %}
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
      {% endblock %}

  </body>
</html>
