{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block content %}
    <p>Welcome {{ current_user.username }}</p>
    <a href="{{ url_for('users.logout') }}">Logout</a>


<h3> Your Projects </h3>
    {% for project in projects %}
      {% if project.status == 'Completed' %}
        <h2>  <a style="color:#008000" href="{{ url_for('projects.detail', slug=project.slug,) }}">{{ project.title }}</a></h2>
      {% else %}
        <h2>  <a style="color:#FF8C00" href="{{ url_for('projects.detail', slug=project.slug,) }}">{{ project.title }}</a></h2>
      {% endif %}
        <p> Status: {{ project.status }}</p>
      {% if project.description %}
        <p>{{ project.description|truncate(100) }}</p> 
      {% endif %}

      {% if project.repo %}
        <p><a href="{{ project.repo }}"> GitHub Repo </a></p>
      {% endif %}
      {% if project.location_url %}
        <p><a href="{{ project.location_url }}"> See it Live! </a></p>
      {% endif %}
      <p>
        {{ project.createdDate.strftime('%Y-%m-%d') }} |
        {% with total=project.notes|length %}
            {{ total }} Comments {%- if total > 1 %}s{%- endif -%}
        {% endwith %}
      </p>
    {% endfor %}
{% endblock %}