{% extends "base.html" %}
{% import '_forms.html' as forms %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ project.title }}</h1>
  </div>
{% endblock %}

{% block content %}
  {% if project.description %}
     <p> {{ project.description }}</p>
  {% endif %}
  <p> <strong> Status: </strong> {{ project.status}} </p>
  <p> <strong> Primary Programming Language: </strong> {{ project.primary_language }} </p>
  {% if project.tools %}
  <p> <strong> Other Tools Used: </strong> </p>
   {% for tools in project.tools.split() %}
       <p> {{ tool }} </p>
   {% endfor %}
   {% endif %}
  {% if project.week_completed %}
    <p> <strong> Week Completed: </strong> {{ project.week_completed }} </p>
  {% endif %}
  {% if project.repo %}
   <p> <strong> Github Repo: </strong> <a href="{{ project.location_url }}"> {{ project.repo|safe() }} </a></p>
  {% endif %}
  {% if project.location_url %}
    <p><strong> Hosted Project: </strong> <a href="{{ project.location_url }}">{{ project.location_url }}</a><p>
  {% endif %}
  {% if project.source %}
  <p><strong>Resources:</strong> </p>
  {% for source in project.sources.split() %} 
    <p><a href="{{ source }}"> </a></p>
  {% endfor %}
  {% endif %}
  <p><strong>Date Created:</strong> {{ project.createdDate.strftime('%Y-%m-%d') }}</p>
  <hr>
  <h2>Comments</h2>
  {% if project.notes %}
    {% for note in project.notes %}
       <p>{{ note.body }}</p>
       <p><small>Submitted on {{ note.publishedDate.strftime('%Y-%m-%d') }}</small></p>
      {{ note.text }}
    {% endfor %}
  {% endif %}
  <hr>
  <h2>Comment on this project...</h2>
  <form action=".", method="post">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn btn-primary" value="Post">
    </div>
  </form>
  <hr>
{% endblock %}
